<div class="container mt-5">
    <h2>Agregar Propietario</h2>

    <!-- Formulario para agregar un propietario -->
    <div class="container mb-4">
        <form id="propietario-form">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-1">
                    <label for="nombre_pro" class="form-label">Nombre</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="nombre_pro" name="nombre_pro" required>
                </div>
                <div class="col-md-1">
                    <label for="apellido_pro" class="form-label">Apellido</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="apellido_pro" name="apellido_pro" required>
                </div>
                <div class="col-md-1">
                    <label for="email_pro" class="form-label">Email</label>
                </div>
                <div class="col-md-3">
                    <input type="email" class="form-control" id="email_pro" name="email_pro" required>
                </div>

            </div>
        
            <div class="row align-items-center justify-content-center mt-3">
                
                <div class="col-md-1">
                    <label for="telefono_pro" class="form-label">Teléfono</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="telefono_pro" name="telefono_pro" required>
                </div>
                <div class="col-md-1">
                    <label for="fkid_ciu" class="form-label">Ciudad</label>
                </div>
                <div class="col-md-3">
                    <select class="form-select" id="fkid_ciu" name="fkid_ciu" required>
                        <option value="" selected disabled>Seleccione una ciudad</option>
                        {% for ciudad in ciudades %}
                            <option value="{{ ciudad.id }}">{{ ciudad.nombre_ciu }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success w-100" onclick="agregarPropietario()">Agregar Propietario</button>
                </div>

            </div>

        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                noneSelectedText: 'Nada seleccionado',
                noneResultsText: 'No hay resultados coincidentes {0}', // Mensaje al buscar sin resultados
                liveSearchPlaceholder: 'Buscar...', // Texto de búsqueda
            });
        });
    </script>
    <hr>

    <!-- Tabla de propietarios -->
    <h3 class="mt-4 text-center">Propietarios Existentes</h3>
    <div class="container align-items-center ">
        <table id="tbl-propietario" class="table ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th style="width: 100px;" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for propietario in propietarios %}
                <tr>
                    <td style="width: 100px;">{{ propietario.id }}</td>
                    <td style="width: 100px;">{{ propietario.nombre_pro }}</td>
                    <td style="width: 100px;">{{ propietario.apellido_pro }}</td>
                    <td style="width: 100px;">{{ propietario.email_pro }}</td>
                    <td style="width: 100px;">{{ propietario.telefono_pro }}</td>
                    <td style="width: 100px;">{{ propietario.fkid_ciu.nombre_ciu }}</td>
                    <td style="width: 100px;">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-warning rounded" style="width: 50px;" onclick="cargarPropietarioEditar({{ propietario.id }})" data-bs-toggle="modal" data-bs-target="#editModal" ><i class="fas fa-pen"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger rounded"style="width: 50px;" onclick="eliminarPropietario({{ propietario.id }})" ><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                       
                        
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No hay propietarios</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

  

<!-- Modal de edición -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Propietario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editar-form">
                    <div class="mb-3">
                        <input type="hidden" name="propietario_id_editar" id="propietario_id_editar" value="">
                        <label for="nombre_pro_editar" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_pro_editar" name="nombre_pro_editar">
                    </div>
                    <div class="mb-3">
                        <label for="apellido_pro_editar" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido_pro_editar" name="apellido_pro_editar">
                    </div>
                    <div class="mb-3">
                        <label for="email_pro_editar" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email_pro_editar" name="email_pro_editar">
                    </div>
                    <div class="mb-3">
                        <label for="telefono_pro_editar" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono_pro_editar" name="telefono_pro_editar">
                    </div>
                    <div class="mb-3">
                        <label for="fkid_ciu_editar" class="form-label">Ciudad</label>
                        <select class="form-select" id="fkid_ciu_editar" name="fkid_ciu_editar" required>
                            <option value="" disabled>Seleccione una ciudad</option>
                            {% for ciudad in ciudades %}
                                <option value="{{ ciudad.id }}">{{ ciudad.nombre_ciu }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-success" onclick="editarPropietario()" >Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>