{% comment %} tabla de empresa {% endcomment %}
<div class="container">
    <!-- Tabla de autos -->
    <hr>
    <h3 class="mt-4 text-center">Autos Existentes</h3>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarAuto">
                Agregar Nuevo
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="tbl-auto">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>COLOR</th>
                    <th>PRECIO</th>
                    <th>PLACA</th>
                    <th>ID MODELO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
            {%for auto in autos%}
                <tr>
                    <td style="width: 200px;">
                        <p class="text-small small">{{ auto.id }}</p>
                    </td>
                    <td style=" width: 200px;"><p class="text-small small">{{ auto.color_car }}</p></td>
                    <td style=" width: 100px;"><p class="text-small small">{{ auto.precio_car }}</p></td>
                    <td style=" width: 100px;"><p class="text-small small">{{ auto.placa_car }}</p></td>
                    <td style=" width: 100px;"><p class="text-small small">{{ auto.fkid_mod.nombre_mod }}</p></td>
                    <td style="width: 50px;">
                        <div class="row btn-acciones">
                            <div class="col-md-6"><button type="button" class="btn btn-warning rounded" onclick="cargarAutoEditar({{auto.id}});"><i class="fas fa-pen"></i></button></div>

                            <div class="col-md-6"><button type="button" class=" btn btn-danger rounded" onclick="eliminarAuto({{auto.id}})"><i class="fas fa-trash"></i></button></div>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay automóviles registrados.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<!-- Modal para agregar modelo -->
<div class="modal fade" id="modalAgregarAuto" tabindex="-1" aria-labelledby="modalAgregarAutoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarAutoLabel">Agregar Auto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <form id="formAgregarAuto" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label ><strong>COLOR:</strong></label>
                                <input type="text" class="form-control" id="color" name="color" required>
                            </div>
                            <div class="form-group">
                                <label ><strong>PRECIO:</strong></label>
                                <input type="text" class="form-control" id="precio" name="precio" required>
                            </div>
                        </div>                     
                        <div class="col-md-6">
                            <div class="form-group">
                                <label ><strong>PLACA:</strong></label>
                                <input type="text" class="form-control" id="placa" name="placa" required>
                            </div>
                            <div class="form-group">
                                <label ><strong>ID MODELO:</strong></label>
                                <select class="form-select" id="fkid_mod" name="fkid_mod" required>
                                    <option value="" selected disabled>Seleccione un modelo</option>
                                    {% for modelo in modelos %}
                                        <option value="{{ modelo.id }}">{{ modelo.nombre_mod }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>              
                    <br>
                    <div class="row">
                        <button type="button" class="btn btn-success" onclick="agregarAuto();">Agregar Auto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar y visualizar empresa -->
<div class="modal fade" id="modalVerAuto" tabindex="-1" aria-labelledby="modalVerAutoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerAutoLabel">Auto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <form id="formEditarAuto" enctype="multipart/form-data">
                    <input type="hidden" id="verId" name="id">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label><strong>ID MODELO:</strong></label>
                                <select class="form-select" id="verModelo" name="verModelo" required>
                                    <option value="" selected disabled>Seleccione un modelo</option>
                                    {% for modelo in modelos %}
                                        <option value="{{ modelo.id }}">{{ modelo.nombre_mod }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label><strong>COLOR:</strong></label>
                                <input type="text" class="form-control" id="verColor" name="color">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label><strong>PRECIO:</strong></label>
                                <input type="text" class="form-control" id="verPrecio" name="precio">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label><strong>PLACA:</strong></label>
                                <input type="text" class="form-control" id="verPlaca" name="placa">
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" onclick="editarAuto();">Editar</button>
                    </div>
                </form>
            </div>         
        </div>
    </div>
</div>