.body-content{
    background: #f2f2f2;
}

/*IMAGEN FONDO INICIO*/
.contenedor_inicio {
    background-image: url('/static/img/fondo_inicio.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 30px 0;
    height: 200px;
}

/*CONTENIDO INICIO*/
.contenido{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
}

/*CONTENDOR DE TEXTO*/
.texto-contenido{
    margin-right: 30px;
}

/*CONTENEDOR IMG*/
.contenedor_img img{
    height: 200px;
}

.contenedor_inicio {
    background-image: url('/static/img/auto2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 30px 0;
    height: 240px;
}

/*CONTENIDO*/
.contenido{
    margin-top: 20px;
}

.texto_contenido{
    margin-right: 20px;
    text-align: justify;
}
.contenedor_img img{
    height: 250px;
}


/*Estilos cabecera*/
header{
    width: 1212px;
    height: 140px;
    background-image: url('/static/img/banner2.jpeg');
    /* background-color: #23282b; */
    margin: 0px auto; /*con el "auto" coloca al contenido en el centro*/
}

#logoTipo{ /*Para centrar el contenido - contenedor*/
    width: 80%;
    height: 140px;
    margin: 0 auto;
    padding-top: 8px;
}

#logoTipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 35px;
}

#logoTipo h1{
    display: block; /*Se puede manipular a tu antojo*/
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px; /*Coloca un espacio entre las letras (caracteres)*/
    text-transform: uppercase; /*Texto en mayuscula*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; /*Letra mas fina*/
    color: #F9FBFC;
    box-shadow: 0px 0px 30px #ade8f4;
}

/*BARRA NAVEGACION*/
.nav_principal{
    font-family: Arial, Helvetica, sans-serif;
    width: 1250px;
    height: 40px;
    margin: 1px auto;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray; /*Para colocar una sombra o relieve ( X Y difuminado color inset;) "inset" es para dentro del elemento*/
    font-size: 15px;
}
nav > ul{
    list-style: none;
    text-decoration: none;
}
nav > ul > li{
    line-height: 40px;
    float: left;
}
nav > ul > li > a{
    text-decoration: none;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #F9FBFC;
}
nav > ul > li > a:hover{
    background: #0DCAF0;
    box-shadow: 0px 0px 30px #ade8f4;
    color: white;
    transition: all 500ms;
}
#btn_login{
    color: #F9FBFC;
}
#btn_login:hover{
    color: white;
}
nav > ul >li > ul{
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
}
nav > ul >li:hover >ul{
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}
nav > ul >li:hover >ul >li{
    background: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 500ms;
}
nav > ul >li:hover >ul >li >a{
    color: #666;
    transition: all 500ms;
}
nav > ul >li:hover >ul >li:hover{
    background-color: #2aa876;
}
nav > ul >li:hover >ul >li:hover a{
    display: block;
    color: white;
}

/*EFECTO 3D BARRA*/
.barra{
    width: 1250px;
    margin: 0 auto;
}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}
.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2f30;
    float: left;
}