{% extends 'paginaMaestra.html' %}
{% load static %}

{% block titulo %} 
    <title>Inicio</title> 
{% endblock titulo %}

{% block header %}
   {{block.super}}
{% endblock header %}

{% block body %}
    <div class="container mt-5 py-4">
        <div class="contenedor_inicio"></div> <!-- Fondo responsivo -->
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src="{% static 'img/banner1.jpeg' %}" alt="Certificado" class="img-fluid" width="400px">
            </div>
            <div class="col-lg-8 col-md-12 mb-4">
                <br>
                <h2 class="font-weight-bold"><strong>Adquiere tu vehículo Tesla y cuida el planeta</strong></h2>
                <br>
                <p>
                    <em>Compras un "auto" cuanto quieres ser alguien pero <strong>compras un Tesla cuando eres alguien.</strong> </em>
                </p>
                <button class="btn btn-info w-100" type="button" data-bs-toggle="modal" data-bs-target="#logeoModal">
                    <em>Aquiera su nave !!!</em> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}